<plugin id="cordova-plugin-wkwebview-recovery" version="1.0.0"
        xmlns="http://apache.org/cordova/ns/plugins"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>WKWebView Recovery</name>

    <platform name="ios">
        <source-file src="src/ios/WKWebViewRecovery.m" />
        <config-file target="config.xml" parent="/*">
            <feature name="WKWebViewRecovery">
                <param name="ios-package" value="WKWebViewRecovery" />
            </feature>
        </config-file>
    </platform>
</plugin>
